.hw_table {
    border-spacing: 10px 2px;
    @media only screen and (min-width: 744px) {
        border-spacing: 20px 4px;
    }

    &__heading, &__field {
        font-family: "DynaPuff";
    }
    &__field {
        padding: 10px 20px 0 0;
    }

    &__heading {
        text-align: left;
    }
}

