.hw_list {
    &--light &__listpoint {
        color: #454242;
    }

    &--dark &__listpoint {
        color: white;
    }
    &--ordered {
        .hw_list__listpoint {
            display: flex;
            flex-direction: row;
            gap: 8px;
        }
        .hw_list__listpoint::marker {
            content: ""
        }
    }
}