.hw_button {
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    outline: none;
    appearance: none;
    text-align: center;
    border: 0px solid rgba(0, 0, 0, 0);
    border-radius: 75px;
    width: 100%;
    &:hover {
        transform: scale(1.05);
    }
    &:active {
        transform: scale(0.975);
    }
    transition: transform .2s;
    cursor: pointer;
    &--light {
        background-color: white;
        color: #454242;
    }
    &--dark {
        background-color: #454242;
        color: white;
    }
    &--light.hw_button--primary {
        background-color: orange;
        color: white;
    }
    &--dark.hw_button--primary {
        background-color: orange;
        color: #454242;
    }
    &--disabled {
        cursor: default;
        &:hover, &:active {
            transform: scale(1.0);
        }
    }
}